{% extends "my_quiz_app/base.html" %}

{% block title %}Начальная страница{% endblock %}

{% block content %}
<main class="flex-shrink-0">
    <div class="container mt-5">
      <h1>Привет!</h1>
      <p class="lead">Это QUIZ приложение</p>
      <p class="lead">Оно позволит:</p>
      <ul>
        <li>Пройти тестирование по вопросам с заданными вариантами ответа</li>
        <li>Проверить ответы</li>
        <li>Покажет  результат</li>
      </ul>
      <p><a href="/questions_list/">Нажмите для начала тестирования по вопросам из области програмирования</a></p>
    </div>
  </main>
{% endblock %}